# Rust build files.
/target

# Editor files.
*.swo
*.swp

# Haskell build files.
.stack-work

# Python and Python typechecker cache.
/.mypy_cache
__pycache__

# Built documentation.
/site

# Generated C header and precompiled C header.
noblit.h
noblit.h.gch

# Prove state (so it can run failed tests first).
.prove
